body {
    background: #141414;
    color: #bbb;
    cursor: auto;
    font-family: "LatoLatinWebMedium", "Lato", Arial, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

div#banner {
    width: 100%;
}

div#contactbox {
    background-color: #1c1c1c;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
}

img#bannerimg {
    width: 100%;
    height: 100%;
}

#bannertabs {
    width: 100%;
}

.tabbutton {
    margin-left: auto;
    margin-right: auto;
}


#contactlinktext {
    display: inline;
    margin-left: 40px;
}

a {
    color: #bbb;
}

p{
    margin: 0 0 0 0;
}
