body {
    background: #272727;
    color: #bbb;
    cursor: auto;
    font-family: "LatoLatinWebMedium", "Lato", Arial, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}